@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root{
    --bg-body-color:linear-gradient(180deg, rgba(31,55,87,1) 0%, rgba(19,21,55,1) 100%);;
    --bg-score-color: #e8e8e8;
    --bg-button-color: #fff;
    --tittle-main-color: #fff;
    --tittle-score-color: #7790ff;
    --main-socre-color: rgb(79, 78, 78);
    --rock-color: #DB2E4D;
    --paper-color: #EB9F0E;
    --scissors-color: #4664F4;
    --spock-color: #3FB7CD;
    --lizard-color: #834EE3;
}

body{
    height: 100vh;
    background: var(--bg-body-color);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Barlow Semi Condensed', sans-serif;
    user-select: none;
}
main {
    max-width: 500px;
    height: 100vh;
    margin: auto;
}

@media (max-width: 576px) {
    main{
        transform: scale(.80);
    }
  }

.tittle-index{
    text-align: center;
    color: var(--tittle-main-color);
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}

@media (min-width: 576px) {
    .tittle-index{
        margin-top: 150px;
    }
  }
  
.selector-container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.tittle-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    padding: 20px;
    margin: 15px;
    border: 1px solid var(--bg-score-color);
    border-radius: 16px;
    margin-bottom: 200px;
}

.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-score-color);
    width: 80px;
    height: 80px;
    border-radius: 12px;
}

.score p{
    color: var(--tittle-score-color);
    font-weight: bolder;
    font-size: 12px;
}

.score h1{
    font-size: 40px;
    color: var(--main-socre-color);
}

.tittle{
    text-align: center;
    color: var(--tittle-main-color);
    line-height: 30px;
}

.game-container{
    background-image: url(../assets/images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 312px;
    height: 282px;
    margin: auto;
    position: relative;
}

.game-container-advanced{
    background-image: url(../assets/images/bg-pentagon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 312px;
    height: 300px;
    margin: auto;
    position: relative;
}

.game-button{
    background-color: var(--bg-button-color);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.game-icon{
    height: 70px;
    width: 70px;
    pointer-events: none;
}

.rock-position{
    position: absolute;
    top: -60px;
    left: -60px;
}

.rock-position-advanced{
    position: absolute;
    top: 30px;
    left: -70px;
}

.rock{
    border: 15px solid var(--rock-color);
    box-shadow: 0px 8px 0px 0px #9D1634;
    transition: 0.1s;
}

.rock:hover {
    box-shadow: 0px 0px 30px 5px var(--rock-color);
    transition: 0.3s;
}

.paper-position{
    position: absolute;
    top: -60px;
    right: -60px;
}

.paper-position-advanced{
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
}

.paper{
    border: 15px solid var(--paper-color);
    box-shadow: 0px 8px 0px 0px #C76C1B;
    transition: 0.1s;
}

.paper:hover{
    box-shadow: 0px 0px 30px 5px var(--paper-color);
    transition: 0.3s;
}

.scissors-position{
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.scissors-position-advanced{
    position: absolute;
    top: 30px;
    right: -70px;
}

.scissors{
    border: 15px solid var(--scissors-color);
    box-shadow: 0px 8px 0px 0px #2A45C2;
    transition: 0.1s;
}

.scissors:hover{
    box-shadow: 0px 0px 30px 5px var(--scissors-color);
    transition: 0.3s;
}


.spock-position-advanced{
    position: absolute;
    bottom: -60px;
    left: -10px;
}

.spock{
    border: 15px solid var(--spock-color);
    box-shadow: 0px 8px 0px 0px #2D8DAB;
    transition: 0.1s
}

.spock:hover{
    box-shadow: 0px 0px 30px 5px var(--spock-color);
    transition: 0.3s;
}

.lizard-position-advanced{
    position: absolute;
    bottom: -60px;
    right: -10px;
}

.lizard{
    border: 15px solid var(--lizard-color);
    box-shadow: 0px 8px 0px 0px #5F37A8;
    transition: 0.1s;
}

.lizard:hover{
    box-shadow: 0px 0px 30px 5px var(--lizard-color);
    transition: 0.3s;
}

.result-container{
    width: 312px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.result-options{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--tittle-main-color);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.option{
    position: relative;
}

.result-options p{
    margin-bottom: 20px;
}


.tittle-final{
    color: var(--tittle-main-color);
    margin-top: 40px;
    font-size: 40px;
}

.playagain-button{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--main-socre-color);
    width: 220px;
    height: 50px;
    border-radius: 12px;
    border: none;
    margin-top: 40px;
    cursor: pointer;
}

.playagain-button:hover{
    color: var(--rock-color);
}

.hidden{
    display: none;
}